%h1= @tags.map(&:name).join(' #')

= prev_page_link

%ul{ id: :comments, data: {tags: params[:tag], thread_url: t_path(parameterized_tags @tags)} }
  = render partial: '/comments/list', locals: { comments: @comments }

= next_page_link

%form#reply_form.sticky
  %fieldset
    %legend Reply
    .controls
      %textarea{ id: :new_comment }
      %input{ type: :text, id: :tag_list, placeholder: 'comma, separated, list, of, tags', value: @tags.map(&:name).join(' #') }
      %input{ type: :submit, id: :comment_btn }