// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$content_width: 800px;
$tr_red: #CC0E00;
body {
  margin:0;padding:0;
}

nav {
  float:left;
  border-right:1px solid #ddd;
  width:170px;
  padding:15px;
  a{
    display:block;
    padding:5px;
    margin-bottom:5px;
    span {
      color:#666;
      text-decoration: none;
      font-size: 0.8em;
      float:right;
      font-style:italic;
    }
  }
}

#content {
  float:left;
  width:$content_width;
  margin:15px;
}

form {
  margin:15px;
  display:block;
  input, textarea {
    display:block;
    width:100%;
    border:1px solid #ddd;
  }
  textarea {
    height:200px;
  }
  input[type=submit] {
    width:auto;
  }
}

#comments {
  list-style: none;
  margin:0;
  padding:0;
}

.comment {
  border-top:1px solid #ddd;
  padding:5px 0 5px 20px;
  margin-bottom:15px;
  .controls {
    float:right;
    a {
      color:#ddd;
      text-decoration: none;
      &:hover {
        color:$tr_red;
      }
    }
  }
  .votes {
    text-align:center;
    float:left;
    width:20px;
    margin:0 3px 0 -20px;
    span {
      font-size:0.8em;
    }
    a {
      cursor:pointer;
      display:block;
      color:#bbb;
      &:hover {
        color:#888;
      }
      &.up_vote.voted {
        color:$tr_red;
      }
      &.down_vote.voted {
        color:#2D6192;
      }
    }
  }
  .meta {
    a {
      color:#393939;
      text-decoration: none;
      font-weight:bold;
    }
    span {
      color:#666;
    }
  }
  .tags {
    margin-bottom:15px;
    font-size: 0.8em;
    a{
      text-decoration: none;
      color:#666;
    }
    &:hover a {
      color:$tr_red;
      &:hover{
        text-decoration: underline;
      }
    }
    a.tag_link {
      display:inline-block;
      //height:8px;
      //width:16px;
      //background:url(tag.png);
    }
  }

  img.thumb {
    max-width:200px;
    max-height:200px;
    -webkit-transition:2s all;
    cursor:move;
    &.expanded {
      max-width:$content_width;
      max-height:none;
    }
  }

  .spoiler{
    margin:20px;
    .hidden {
      display:none;
      padding:20px 0;
      border-bottom:2px solid #ddd;
    }
    .handle {
      background:$tr_red;
      color:#fff;
      font-weight:bold;
      font-style:italic;
      padding:3px 10px;
      cursor:pointer;
      &:hover{
        background:lighten($tr_red,25%);
      }
    }
  }

  blockquote {
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    margin:20px;
    padding:10px 0;

  }

}

